body {
  background-color: #1e1e1e;
}

.projects-container {
  padding: 20px;
  color: #ffffff;
  background-color: #1e1e1e;
}

.projects-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card,
.add-card {
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  text-align: center;
}

.image-upload {
  display: block;
  margin-bottom: 10px;
}

.image-upload img {
  width: 100%;        
  height: 100%;       
  object-fit: contain;
}

.image-placeholder {
  background-color: #444;
  padding: 40px 0;
  color: #aaa;
  border-radius: 4px;
}

.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f43a09; /* Brightly Orange */
  font-weight: bold;
  border: 2px dashed #f43a09; /* Brightly Orange */
}

.add-card:hover {
  background-color: #333;
  color: #ffb766; /* Grandpa Orange */
  border-color: #ffb766;
}

.empty-msg {
  margin-bottom: 20px;
  color: #aaa;
  font-style: italic;
}

.view-btn {
  background-color: #68d388; /* Live Green */
  color: #1e1e1e;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.view-btn:hover {
  background-color: #54b972; /* Darker Live Green */
}
